*.pyc
*.pyproj
/.vs/General_Deep_Q_RL/v14
/General_Deep_Q_RL.sln
/General_Deep_Q_RL/theano.py
/General_Deep_Q_RL/plot.png
/runs/*
/examples/maze/custom_scores/*
/examples/maze/dump/*
/examples/maze/dump_params/*
/examples/maze/dump_states/*
/examples/maze/nnets/*
/examples/maze/params/*
/examples/maze/scores/*
